In [1]:
#121
a = input('영어 문자 한 개를 입력 하세요 :')
if a.islower():
    print (a.upper())
else:
    print (a.lower())

영어 문자 한 개를 입력 하세요 :a
A

In [2]:
#122
score = int(input('score: '))
if 81 <= score <= 100:
    print('grade is A')
elif 61 <= score <= 80:
    print('grade is B')
elif 41 <= score <= 60:
    print('grade is C')
elif 21 <= score <= 40:
    print('grade is D')
else:
    print('grade is E')

score: 83
grade is A

In [3]:
#123
환율 = {'달러':1167, '엔':1.096, '유로':1268, '위안':171}
currency = input('입력: ')
num, currency = currency.split()
print(float(num) * 환율[currency], '원')

입력: 100 달러
116700.0 원

In [4]:
#124
a = int(input('input number1: '))
b = int(input('input number2: '))
c = int(input('input number3: '))
print(max(a,b,c))

input number1: 10
input number2: 9
input number3: 20
20

In [5]:
#125
통신사 = {'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}
a = input('휴대전화 번호 입력: ')
a = a.split('-')
print(f'당신은 {통신사[a[0]]} 사용자입니다.')

휴대전화 번호 입력: 011-123-1234
당신은 SKT 사용자입니다.

In [6]:
#126
a = input('우편번호: ')
if a[:3] in ['010', '011', '012']:
    print('강북구')
elif a[:3] in ['014', '015', '016']:
    print('도봉구')
else:
    print('노원구')

우편번호: 01400
도봉구

In [7]:
#127
주민등록번호 = input('주민등록번호: ')
주민등록번호 = 주민등록번호.split('-')[1][0]
if 주민등록번호 == '1' or 주민등록번호 == '3':
    print('남자')
else:
    print('여자')

주민등록번호: 111111-333333
남자

In [8]:
#128
a = input('주민등록번호: ')
a = a.split('-')[1][1:3]
if a in ['00','01','02','03','04','05','06','07','08']:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 111111-111111
서울이 아닙니다.

In [9]:
#129
a = input('주민등록번호: ')
a = ''.join(a.split('-'))

total = sum([int(a[:8][i]) * (i+2) for i in range(8)]) + sum([int(a[8:][i]) * (i+2) for i in range(4)])
total = 11 - total % 11

if a[-1] == str(total):
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [10]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if 시가 + 변동폭 > 최고가:
    print('상승장')
else:
    print('하락장')

상승장

In [11]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
#사과\n 귤\n 수박

사과
귤
수박

In [12]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")
# #####\n #####\n #####

#####
#####
#####

In [13]:
#133
print('a')
print('b')
print('c')

a
b
c

In [14]:
#134
print('출력:', 'A')
print('출력:', 'B')
print('출력:', 'C')

출력: A
출력: B
출력: C

In [15]:
#135
print('변환:', 'A'.lower())
print('변환:', 'B'.lower())
print('변환:', 'C'.lower())

변환: a
변환: b
변환: c

In [16]:
#136
for a in [10,20,30]:
    print(a)

10
20
30

In [17]:
#137
for a in [10,20,30]:
    print(a)

10
20
30

In [18]:
#138
for a in [10,20,30]:
    print(a)
    print('------')

10
------
20
------
30
------

In [19]:
#139
print('++++')
for a in [10, 20,30]:
    print(a)

++++
10
20
30

In [20]:
#140
for a in range(4):
    print('-------')

-------
-------
-------
-------

In [21]:
#141
리스트 = [100, 200, 300]
for a in 리스트:
    print(a + 10)

110
210
310

In [22]:
#142
리스트 = ["김밥", "라면", "튀김"]
for a in 리스트:
    print('오늘의 메뉴:', a)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [23]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트:
    print(len(a))

6
4
4

In [24]:
#144
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a,len(a))

dog 3
cat 3
parrot 6

In [25]:
#145
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a[0])

d
c
p

In [26]:
#146
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [27]:
#147
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [28]:
#148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [29]:
#149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [30]:
#150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [31]:
#151
리스트 = [3, -20, -3, 44]
for a in 리스트:
    if a < 0:
        print(a)

-20
-3

In [32]:
#152
리스트 = [3, 100, 23, 44]
for a in 리스트:
    if a % 3 == 0:
        print(a)

3

In [33]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for a in 리스트:
    if a < 20 and a % 3 == 0:
        print(a)

12
18

In [34]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for a in 리스트:
    if len(a) >= 3:
        print(a)

study
python
language

In [35]:
#155
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.isupper():
        print(a)

A
D

In [36]:
#156
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.islower():
        print(a)

b
c

In [37]:
#157
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a.capitalize())

Dog
Cat
Parrot

In [38]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for a in 리스트:
    print(a.split('.')[0])

hello
ex01
intro

In [39]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.split('.')[1] == 'h':
        print(a)

intra.h
define.h

In [40]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.split('.')[1].startswith(('h','c')):
        print(a)

intra.h
intra.c
define.h

In [41]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [42]:
#162
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [43]:
#163
for i in range(1,31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [44]:
#164
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [45]:
#165
for i in range(10):
    print(f'0.{i}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [46]:
#166
for i in range(1,10):
    print(f'3x{i} = {3 * i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [47]:
#167
for i in range(1,10,2):
    print(f'3x{i} = {3 * i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [48]:
#168
sum = 0
for i in range(11):
    sum += i
print('합:',sum)

합: 55

In [49]:
#169
sum = 0
for i in range(1,11,2):
    sum += i
print('합:',sum)

합: 25

In [50]:
#170
total = 1
for i in range(1,11):
    total *= i
print(total)

3628800

In [51]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [52]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [53]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list) -1 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [54]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, len(price_list)):
    print(90 + i * 10, price_list[i])

100 32150
110 32000
120 32500

In [55]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [56]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [57]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[-1 - i], my_list[-2 - i])

라 다
다 나
나 가

In [58]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [60]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [61]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(5):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]