In [1]:
# 1

print('Hello World')

Hello World

In [2]:
# 2

print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 3

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
# 4

print('"C:\Windows"')

"C:\Windows"

In [5]:
# 5

print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n : 한 줄 띄우기, \t : 탭

안녕하세요.
만나서		반갑습니다.

In [6]:
# 6

print ("오늘은", "일요일")

# 한 칸 띄우고 출력됨

오늘은 일요일

In [7]:
# 7

print("naver", "kakao", "samsung", sep=",")

naver,kakao,samsung

In [8]:
# 8

print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [9]:
# 9

print("first", end=" ");
print("second")

first second

In [10]:
# 10

print(5/3)

1.6666666666666667

In [11]:
# 11

삼성전자 = 50000
print(f'총 평가금액 : {삼성전자}')

총 평가금액 : 50000

In [12]:
# 12

trillion = 1000000000000
시가총액 = 298
현재가 = 50000
PER = 15.79

print(f'시가총액 : {시가총액*trillion}')
print(f'현재가 : {현재가}')
print(f'PER : {PER}')

시가총액 : 298000000000000
현재가 : 50000
PER : 15.79

In [13]:
# 13

s = 'hello'
t = 'python'

print(f'{s}! {t}')

hello! python

In [14]:
# 14

print(2 + 2 * 3)

# 곱셈부터 실행됨

8

In [15]:
# 15

a = "132"
print(type(a))

# 큰따옴표로 묶여 있으므로 str 반환

<class 'str'>

In [16]:
# 16

num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [17]:
# 17

num = 100
num = str(num)
print(type(num))

<class 'str'>

In [18]:
# 18

data = "15.79"
data = float(data)
print(type(data))

<class 'float'>

In [19]:
# 19

year = "2020"
year = int(year)
print([year-i for i in range(3,0,-1)])

[2017, 2018, 2019]

In [20]:
# 20

월 = 48584
할부기간 = 36
print(f'total : {월*할부기간}')

total : 1749024

In [21]:
# 21

letters = 'python'
print(letters[0], letters[2])

p t

In [22]:
# 22

license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [23]:
# 23

string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [24]:
# 24

string = 'PYTHON'
print(string[::-1])

NOHTYP

In [25]:
# 25

phone_number = '000-1111-2222'
print(phone_number.replace('-',''))

00011112222

In [26]:
# 26

phone_number = '000-1111-2222'
print(phone_number.replace('-',''))

00011112222

In [27]:
# 27

url = 'http://sharebook.kr'
url_split = url.split('.')
print(url_split[-1])

kr

In [28]:
# 28

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정 불가능

TypeError: 'str' object does not support item assignment

In [29]:
# 29

string = 'abdfe2a354a32a'
print(string.replace('a','A'))

Abdfe2A354A32A

In [30]:
# 30

string = 'abcd'
string.replace('b','B')
print(string)

# 새로운 변수로 지정하지 않아서 바뀌지 않음

abcd

In [31]:
# 31

a = '3'
b = '4'
print(a+b)

# 문자열이므로 34로 나옴

34

In [32]:
# 32

print('Hi' * 3)

# Hi가 3번 나옴

HiHiHi

In [33]:
# 33

print('*' * 80)

********************************************************************************

In [34]:
# 34

t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [35]:
# 35

name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print("이름 : %s    나이 : %d" %(name1, age1))
print("이름 : %s    나이 : %d" %(name2, age2))

이름 : 김민수    나이 : 10
이름 : 이철희    나이 : 13

In [36]:
# 36

name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print("이름 : {}    나이 : {}".format(name1, age1))
print("이름 : {}    나이 : {}".format(name2, age2))

이름 : 김민수    나이 : 10
이름 : 이철희    나이 : 13

In [37]:
# 37

name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print(f'이름 : {name1}    나이 : {age1}')
print(f'이름 : {name2}    나이 : {age2}')

이름 : 김민수    나이 : 10
이름 : 이철희    나이 : 13

In [38]:
# 38

상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',',''))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [39]:
# 39

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [40]:
# 40

data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자

In [41]:
# 41

ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [42]:
# 42

ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [43]:
# 43

cap = 'hello'
cap = cap.capitalize()
print(cap)

Hello

In [44]:
# 44

file_name = '보고서.xlsx'
file_name.endswith('xlsx')

True

In [45]:
# 45

file_name = '보고서.xlsx'
file_name.endswith(('xlsx', 'xls'))

True

In [46]:
# 46

file_name = '2020_보고서.xlsx'
file_name.startswith('2020')

True

In [47]:
# 47

a = 'hello world'
print(a.split())

['hello', 'world']

In [48]:
# 48

ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [49]:
# 49

date = "2020-05-01"
date = date.split('-')
print(date[0] + '년', date[1] + '월', date[2] + '일')

2020년 05월 01일

In [50]:
# 50

data = "039490     "
print(data.rstrip())

039490

In [51]:
# 51

movie_rank = ['닥터스트레인지', '스플릿' ,'럭키']
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키']

In [52]:
# 52

movie_rank.append('배트맨')
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [53]:
# 53

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [54]:
# 54

del movie_rank[3]
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [55]:
# 55

del movie_rank[-2:]
print(movie_rank)

['닥터스트레인지', '슈퍼맨']

In [56]:
# 56

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [57]:
# 57

nums = [1, 2, 3, 4, 5, 6, 7]
print('max:', max(nums))
print('min:', min(nums))

max: 7
min: 1

In [58]:
# 58

nums = {1, 2, 3, 4, 5}
print(sum(nums))

15

In [59]:
# 59

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [60]:
# 60

nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0