In [1]:
# 61

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [2]:
# 62

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [3]:
# 63

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [4]:
# 64

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [5]:
# 65

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

In [6]:
# 66

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [7]:
# 67

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [8]:
# 68

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [9]:
# 69

string = "삼성전자/LG전자/Naver"
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [10]:
# 70

data = [2, 4, 3, 1, 5, 10, 9]
print(sorted(data))

[1, 2, 3, 4, 5, 9, 10]

In [11]:
# 71

my_variable = ()

In [12]:
# 72

moive_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [13]:
# 73

n = (1, )

In [14]:
# 74

# 튜플은 값 변경 불가능

In [15]:
# 75

t = 1, 2, 3, 4

print(type(t)) # 튜플

<class 'tuple'>

In [16]:
# 76

# 튜플 값 변경 불가능

In [17]:
# 77

interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(type(interest))

<class 'list'>

In [18]:
# 78

interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(type(interest))

<class 'tuple'>

In [19]:
# 79

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# apple banana cake

apple banana cake

In [20]:
# 80

a = tuple(range(2, 100, 2))
print(a, type(a))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>

In [21]:
# 81

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(*valid_score)

8.8 8.9 8.7 9.2 9.3 9.7 9.9 9.5

In [22]:
# 82

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score = scores
print(*valid_score)

8.7 9.2 9.3 9.7 9.9 9.5 7.8 9.4

In [23]:
# 83

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
print(*valid_score)

8.9 8.7 9.2 9.3 9.7 9.9 9.5 7.8

In [24]:
# 84

temp = {}
print(type(temp))

<class 'dict'>

In [25]:
# 85

icecream = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [26]:
# 86

icecream['죠스바'] = 1200
icecream['월드콘'] = 1500
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [27]:
# 87

print('메로나 가격:', icecream['메로나'])

메로나 가격: 1000

In [28]:
# 88

icecream['메로나'] = 1300
print(icecream)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [29]:
# 89

del icecream['메로나']
print(icecream)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [30]:
# 90

# 키가 딕셔너리안에 저장되어 있지 않기 때문.

In [31]:
# 91

inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}
print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]} <class 'dict'>

In [32]:
# 92

print(inventory['메로나'][0],'원')

300 원

In [33]:
# 93

print(inventory['메로나'][1],'개')

20 개

In [34]:
# 94

inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [35]:
# 95

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icekey = list(icecream.keys())
print(icekey)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [36]:
# 96

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icevalue = list(icecream.values())
print(icevalue)

[1200, 1200, 1800, 1500, 1000]

In [37]:
# 97

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [38]:
# 98

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [39]:
# 99

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [40]:
# 100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [41]:
# 101

# bool

In [42]:
# 102

# False

In [43]:
# 103

# True

In [44]:
# 104

# True

In [45]:
# 105

# True

In [46]:
# 106

# 없는 연산자

In [47]:
# 107

# 아무것도 출력되지 않음.

In [48]:
# 108

# Hi, there.

In [49]:
# 109

# 1
# 2
# 4

In [50]:
# 110

# 3
# 5

In [51]:
# 111

a = input('입력: ')
print(a * 2)

입력: 안녕하세요
안녕하세요안녕하세요

In [52]:
# 112

a = int(input('숫자를 입력하세요 : '))
print(a + 10)

숫자를 입력하세요 : 10
20

In [53]:
# 113

a = int(input('입력: '))
print('짝수' if a % 2 == 0 else '홀수')

입력: 4
짝수

In [54]:
# 114

a = int(input('입력값: '))
print(a + 20 if a + 20 < 256 else 255)

입력값: 240
255

In [55]:
# 115

a = int(input('입력값: '))
print(0 if a - 20 < 0 else 255 if a - 20 > 255 else a - 20)

입력값: 200
180

In [56]:
# 116

a = input('현재시간: ')
print('정각' if a[-2:] == '00' else '정각이 아닙니다.')

현재시간: 02:00
정각

In [57]:
# 117

fruit = ["사과", "포도", "홍시"]
a = input('좋아하는 과일은?')
print('정답입니다.' if a in fruit else '오답입니다.')

좋아하는 과일은?사과
정답입니다.

In [58]:
# 118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input('종목명을 입력하세요: ')
print('투자 경고 종목입니다' if a in warn_investment_list else '투자 경고 종목이 아닙니다')

종목명을 입력하세요: Google
투자 경고 종목입니다

In [59]:
# 119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input('제가 좋아하는 계절은: ')
print('정답입니다' if a in fruit.keys() else '오답입니다')

제가 좋아하는 계절은: 봄
정답입니다

In [60]:
# 120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input('좋아하는 과일은? ')
print('정답입니다' if a in fruit.values() else '오답입니다')

좋아하는 과일은? 딸기
정답입니다