In [2]:
name = '이름'
eng_name = '영어이름'
phone_number = '01000000000'

print(name,'\n', eng_name,'\n', phone_number)

이름
 영어이름
 01000000000

In [3]:
when = 12
where = "집"
why = "밥먹으러"
print(f"나는 {when}시에 {where}에 {why} 간다.")

나는 12시에 집에 밥먹으러 간다.

In [4]:
a = 10
b = 2

print(a * b)
print(a / b)
print(a % b)

a = 11
print(a // b)
print(a % b)

20
5.0
0
5
1

In [14]:
num = int(input())
print(f'{num}단')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')

2
2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [16]:
a = [1, 2, 3, 4 ,5]
a.append(5)
print(a)
a.pop()
print(a)

[1, 2, 3, 4, 5, 5]
[1, 2, 3, 4, 5]

In [24]:
set_a = {1,1,2,2,3,4}
print(set_a)

{1, 2, 3, 4}

In [25]:
set_a.add(5)
print(set_a)
set_a = set_a - {2, 3}
print(set_a)

{1, 2, 3, 4, 5}
{1, 4, 5}

In [28]:
b = {4}
print(set_a-b)

{1, 5}

In [33]:
list = [1,2,3,4,5,6,7,8,9]
sum = sum(list)

In [34]:
if sum < 100:
    print(sum)
    print('100보다 작음')

45
100보다 작음

In [36]:
if sum > 100:
    print('실행 안 됨')

In [37]:
list_3 = [1,2,3,4,5,6,7,8,9]
if len(list_3) < 10:
    print("list_3 : ", list_3)

list_3 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
a = {1,2,3}
if type(a) == set:
    print('type of a : set')

type of a : set

In [39]:
n = 10
while n > 0:
    print("곧 끝나는 루프")
    n = n - 1

곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프
곧 끝나는 루프

In [40]:
n = 10 
while n > 0:
    print("n : ", n)
    n = n - 1
    if n == 5:
        break

n :  10
n :  9
n :  8
n :  7
n :  6